<%- include('./partials/header') %>

<form action="/characters/<%= currentCharacter._id %>?_method=PUT" method="POST">
    Name:<br />
    <input type="text" name="name" maxlength="20" value="<%= currentCharacter.name %>" required><br />
    Image Link:<br />
    <input type="text" name="image" value="<%= currentCharacter.image %>" required><br />
    System:<br />
    <input type="text" name="system" maxlength="20" value="<%= currentCharacter.system %>" required><br />
    Class:<br />
    <input type="text" name="class" maxlength="20" value="<%= currentCharacter.class %>"><br />
    Intro:<br />
    <input type="text" name="intro" maxlength="128" value="<%= currentCharacter.intro %>" required><br />
    Height:<br />
    <input type="text" name="height" maxlength="10" value="<%= currentCharacter.height %>"><br />
    Weight:<br />
    <input type="text" name="weight" maxlength="10" value="<%= currentCharacter.weight %>"><br />
    Physical Description:<br />
    <textarea name="description" maxlength="500" style="width:250px;height:75px;"><%= currentCharacter.description %></textarea><br />
    About:<br />
    <textarea name="about" maxlength="10000" style="width:250px;height:150px;"><%= currentCharacter.about %></textarea>
    <input type="submit" value="Update character">
    </form>