<%- include('./partials/header') %>

<% characters.forEach( character => { %>
    <%= character.name %> <a href="/characters/<%= character._id %>">View character and comments</a><br />
    image <%= character.image %><br />
    created <%= character.created %><br />
    system <%= character.system %><br />
    intro <%= character.intro %><br />
    height <%= character.height %><br />
    weight <%= character.weight %><br />
    description <%= character.description %><br />
    about <%= character.about %><br />
    user <%= character.user.name %><br />
    <% if (currentUser !== undefined && currentUser._id.equals(character.user._id)) { %>
        <form method="POST" action="/characters/<%= character._id %>?_method=DELETE">
        <button type="submit">Delete Character</button><% } %><br />
<% }) %>
  