<%- include('./partials/header') %>

<% characters.forEach( character => { %>
    <div class="feedCharacter">
        <span class="feedTitle"><%= character.name %> </span><br />
        <div class="feedCenter">
            <div>
                <img class="portrait" width="200" height="200" src="<%= character.image %> " alt="">
            </div>
            <span class="imageText systemClass"><%= character.system %> <% if(character.class) {%> - <%= character.class %> <%}%> </span><br />
            <span class="imageText"><%= character.intro %></span><br />
            <span class="imageText">created <%= character.createdAt %> by <%= character.user.name %></span><br />
            <a class="imageText" href="/characters/<%= character._id %>">View</a><br />
        </div><br />
    <% if (currentUser !== undefined && currentUser._id.equals(character.user._id)) { %>
        <form method="POST" action="/characters/<%= character._id %>?_method=DELETE">
        <button type="submit">Delete</button></form><a href="/characters/<%= character._id %>/edit">Edit</a><% } %><br />
        </div>
<% }) %>
  