<%- include('./partials/header') %>

<span class="viewTitle"><%= currentCharacter.name %> </span><br />
<div>
    <img class="viewPortrait" width="300" height="300" src="<%= currentCharacter.image %> " alt="">
</div>
<span class="createdByAt">created <%= currentCharacter.createdAt %> by <%= currentCharacter.user.name %></span><br />
<% if (currentUser !== undefined && currentUser._id.equals(currentCharacter.user._id)) { %>
    <a class="btn waves-effect waves-light" href="/characters/<%= currentCharacter._id %>/edit">Edit</a> <form class = "deleteButton" method="POST" action="/characters/<%= currentCharacter._id %>?_method=DELETE"><button class="btn waves-effect waves-light" type="submit">Delete</button></form><% } %><br /><br />
<br />
<span class="viewSectionHeader">Overview</span><br />
System: <%= currentCharacter.system %><br />
Class: <%= currentCharacter.class %><br />
Intro: <%= currentCharacter.intro %><br />
<br />
<span class="viewSectionHeader">Physical Information</span><br />
Height: <%= currentCharacter.height %><br />
Weight: <%= currentCharacter.weight %><br />
Description: <%= currentCharacter.description %><br />
<br />
<span class="viewSectionHeader">About</span><br />
<%= currentCharacter.about %><br />
<br />


<!-- Comment Section -->
<span class="viewSectionHeader">Comments:</span><br />
<br />
        <% currentCharacter.comments.forEach( comment => { %>
            <div class="comment">
                <%= comment.body %><br />
                By <%= comment.user.name %> at <%= comment.createdAt %><br />
            <% if (currentUser !== undefined && currentUser._id.equals(comment.user._id)) { %>
                <form method="POST" action="/characters/<%= currentCharacter._id %>/comments/<%= comment._id %>?_method=DELETE">
                <button class="btn waves-effect waves-light" type="submit">Delete</button> <a class="btn waves-effect waves-light" href="/characters/<%= currentCharacter._id %>/comments/<%= comment._id %>/edit">Edit</a><% } %><br />
            </div>
            <br />
        <% }) %>
        <% if (currentUser) { %>
            <form action="/characters/<%= currentCharacter._id %>/comments" method="POST">
            <textarea name="body" maxlength="500" style="width:250px;height:150px;"></textarea><br />
            <input class="btn waves-effect waves-light" type="submit" value="add comment">
            </form>
            <% } %>