<%- include('./partials/header') %>
<%= currentCharacter.name %>
image <%= currentCharacter.image %><br />
created <%= currentCharacter.created %><br />
system <%= currentCharacter.system %><br />
intro <%= currentCharacter.intro %><br />
height <%= currentCharacter.height %><br />
weight <%= currentCharacter.weight %><br />
description <%= currentCharacter.description %><br />
about <%= currentCharacter.about %><br />
user <%= currentCharacter.user.name %><br />
<% if (currentUser !== undefined && currentUser._id.equals(currentCharacter.user._id)) { %>
    <form method="POST" action="/characters/<%= currentCharacter._id %>?_method=DELETE">
    <button type="submit">Delete Character</button></form><% } %><br />



    <% if (currentUser) { %>
        <form action="/characters/<%= currentCharacter._id %>/comments" method="POST">
        <textarea name="body" style="width:250px;height:150px;"></textarea>
        <input type="submit" value="add comment">
        </form>
        <% } %>
        <% currentCharacter.comments.forEach( comment => { %>
            body <%= comment.body %><br />
            user <%= comment.user.name %><br />
            <% if (currentUser !== undefined && currentUser._id.equals(comment.user._id)) { %>
                <form method="POST" action="/characters/<%= currentCharacter._id %>/comments/<%= comment._id %>?_method=DELETE">
                <button type="submit">Delete Comment</button><a href="/characters/<%= currentCharacter._id %>/comments/<%= comment._id %>/edit">Edit comment</a><% } %><br />
        <% }) %>